services:
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_USER: orca
      POSTGRES_PASSWORD: orca
      POSTGRES_DB: ais
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
